.content {
    display: block;
    padding: 0;
    margin: 0 auto 25px auto; 
    max-width: 800px;
    text-align: center;
}
.content .content-section {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 300px;
    padding: 10px 40px;
    vertical-align: top;
}
.content .content-section h3 {
    padding: 5px;
    margin: 0;
}
svg {
    height: auto;
    width: auto;
}