footer {
    display: inline-block;
    height: 96px;
    width: 100%;
    background-color: $dark;
    color: $base;
    margin: 0;
    padding: 0;
}
footer .owner {
    display: inline-block;
    height: 20px;
    color: $base;
    text-align: center;
    width: 90%;
    margin: 38px 5% 0 5%;
    padding: 0;
}