header {
    display: inline-block;
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(dubai_1.jpg);
    background-position: 50% 30%;
    transition: all 0.4s ease;
}
header.sticky {
    position: fixed;
    top: 0;
    height: 55px;
    background-color: $accent;
    background-image: none;
    h1.header-text {
        display: none;
    }
    .logo-section {
        padding: 8px 16px;
    }
    .logo-section a img {
        width: 100px;
        height: auto;
    }
    .menu-section {
        padding: 0;
    }
    .menu-section ul {
        padding: 0px;
    }
    .menu-section ul li {
        padding: 0px;
    }
}
header::before {
  content: "";
  background-color: $accent;
  opacity: 0.5;
}
header .logo-section {
    float: left;
    padding: 16px;
    a img {
        width: 180px;
        height: 71px;
    }
}
header .menu-section {
    float: right;
    padding-right: 16px;
    ul {
        list-style-type: none;
        padding-top: 16px;
    }
    ul li {
        display: inline-block;
        padding: 8px 24px;
        color: $base;
    }
}
h1.header-text {
    color: $base;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 200px 0 0 0;
}
.typed-cursor{
    font-size: 2.25rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
