header {
    display: inline-block;
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(dubai_1.jpg);
    background-position: 50% 30%;
}
header::before {
  content: "";
  background-color: $accent;
  opacity: 0.5;

}
header .logo-section {
    float: left;
    padding: 25px;
    a img {
        width: 200px;
        height: 71px;
    }
}
header .menu-section {
    float: right;
    padding-right: 15px;
    ul {
        list-style-type: none;
        padding-top: 10px;
    }
    ul li {
        display: inline-block;
        padding: 5px 15px;
        color: $base;
    }
}
h1.header-text {
    color: $base;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 200px 0 0 0;
}
.typed-cursor{
    font-size: 2.25rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
